
/* Home page background */
body {
  height: 100vh;
  background-image: url('backgr.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #eff1f5;
}

/* Home Section */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px); /* subtract navbar height */
  text-align: center;
}

.home-text h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.home-text h2 {
  font-size: 120px;
  font-weight: 700;
  line-height: 1.2;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.home-text p {
  font-size: 22px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 30px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.register,
.login {
  background-color: #80A9F3; 
  color: white;
}
