body {
  font-family: 'Carter One', sans-serif;
  margin: 0;
  padding: 20px;
  background-image: url('images/backgr3.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  font-size: 60px;
}

h2 {
  margin-bottom: 20px;
  margin-top: 30px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  font-weight: 100;
}

table {
  width: 95%;
  margin: 0 auto;
  border-collapse: collapse;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

th, td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  color: black;
  font-weight: 100;
}

th {
  background: #17305B;
  color: #fff;
}

tr:hover {
  background: #f1f1f1;
}

.team-cell {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  color: black;
}

.team-logo {
  width: 30px;
  height: 30px;
}

.form {
    margin-top: 10px;
}

.form span {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    margin: 2px;
    font-size: 13px;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
}

.navbar {
  width: 100%;
  z-index: 1000;
}





