
/* Register page background */
body.reg-page {
  background-image: url('images/bg2.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Register container */
.reg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Register form box */
.reg-form {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 400px;
  text-align: center;
}

.reg-form h1 {
  margin-bottom: 0.5rem;
  color: black;
  font-size: 50px;
  font-family: 'Carter One', sans-serif;
}

.reg-form p {
  margin-bottom: 1.5rem;
  font-size: 18px;
  color: #333;
  font-family: 'Carter One', sans-serif;
}

/* Form fields */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  text-align: left;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-size: 20px;
  color: black;
  font-family: 'Carter One', sans-serif;
}

.form-group input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Carter One', sans-serif;
}

/* Buttons inside register form */
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.btn {
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Carter One', sans-serif;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease;
}

.btn:hover {
  transform: scale(1.05);
}

/* Specific style for register button */
.login {
  background-color: #80A1E9;
  color: #fff;
}

/* Splash Screen */
#splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('images/splashbg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  z-index: 9999;
  transition: opacity 0.8s ease;
  font-family: 'Carter One', sans-serif
}

#splash.fade-out {
  opacity: 0;
  pointer-events: none;
}









